<h1 class = "all_headers"><i class="fa fa-smile-o"></i> hello stranger </h2>

<% @posts.each do |post| %>
<div class="posts-wrapper row">
  <div class="posts">


      <div class="post-head">
        <p><i class="fa fa-user"></i> <strong><%= post.user.username %></strong></p>
        <p>Title: <%= post.title %></p>
        <p>Created <i><%= time_ago_in_words(post.created_at) %> ago</i></p>
      </div>

      <div class="caption">
        <p>This was in <i><%= post.country_name %></i></p>
        <p>I spent S$ <i><%= post.budget %></i></p>
        <p>Category: <%= Activity.find_by(post_id: post.id).name %></p>
      </div>

      <p class="image center-block"><%= link_to (image_tag post.image.url(:medium)), post_path(post) %></p>

      <p class = "like_globe"><%= link_to like_post_path(post), method: :put do %><i class="fa fa-globe fa-spin fa-2x"></i> <%= post.get_upvotes.size %><% end %> karma points</p>

      <p class = "read"><%= post.description%></p>

    </div>
  </div>
  <% end %>
