<h1>MY LOBANGS</h1>

<% @posts.each do |post| %>
  <div class="row post">
    <p>Title: <%= post.title %></p>
    <p>Date: <%= post.created_at %></p>
    <p>Where: <%= post.country %></p>
    <p>Amount spent: S$ <%= post.budget %></p>

    <p>Category: <%= @activity.find(post.id).name %></p>
  <!-- from #@activity, get the post belonging to it and return the name of activity.post_id.name -->

    <p><%= link_to (image_tag post.image.url(:medium)), post_path(post) %></p>
    <p><a href="<%= post_path(post.id) %>">Read more</a></p>
  </div>

<% end %>
