<% @posts.each do |post| %>
  <div class="row">
    <p>TItle: <%= post.title %></p>
    <p>Date: <%= post.created_at %></p>
    <p><%= link_to (image_tag post.image.url(:medium)), post_path(post) %></p>
    <p>Where: @post.country</p>
    <p>Amount spent: S$ <%= post.budget %></p>
    <p>Read more<%= post.description %></p>
  </div>

<%end%>
