<h1>NEW LOBANG</h1>

<div class="form-wrapper">

  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form01">
      <%= f.input :title %>
    </div>

    <div class="form01">
      <%= f.input :image %>
    </div>

    <div class="form01">
      <%= f.input :country, as: :country %>
    </div>

    <div class="form01">
      <%= f.input :budget %>
    </div>

    <div class="form01">
      <%= f.input :description %>
    </div>

    <div class="form01">
      <input type="radio" name="activities" value="Accommodation">Accommodation<br>
      <input type="radio" name="activities" value="Food/Drinks">Food/Drinks<br>
      <input type="radio" name="activities" value="Nature">Nature<br>
      <input type="radio" name="activities" value="Place of Interest">Place of Interest<br>
      <input type="radio" name="activities" value="Others">Others<br>
    </div>

    <div class="form01">
      <%= f.button :submit, class: 'btn-success' %>
    </div>

  <% end %>

</div>
