<% @results.each do |result| %>
  <div align="row post">
    <p>Contributor: <%= result.user.username %></p>
    <p>Title: <%= result.title %></p>
    <p>Date: <%= result.created_at.strftime("%d-%m-%Y %H:%M") %></p>
    <p>Where: <%= result.country_name %></p>
    <p>Amount spent: S$ <%= result.budget %></p>

    <p>Category: <%= result.activities.name %></p>
  <!-- from #@activity, get the post belonging to it and return the name of activity.post_id.name -->

    <p><%= link_to (image_tag result.image.url(:medium)), post_path(result) %></p>

    <p><a href="<%= post_path(result.id) %>">Read more</a></p>

  </div>
<% end %>
